<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free restaurants catalogue for you">
  <meta name="theme-color" content="#1b1b1b"/>
  
  <link rel="apple-touch-icon" href="/icons/warteg-dark_192x192.jpg">
  <link rel="shortcut icon" href="./logo/warteg-dark.jpg" type="image/x-icon">
  <link rel="manifest" href="./app.webmanifest">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <title>Warteg?</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Menuju ke konten</a>
  <header>
    <nav class="navbar">
      <div class="container">
        <div class="navbar__logo">
          <a href="#/" aria-label="Warteg Logo">
            <img src="./logo/warteg.png" class="navbar__logo__image" alt="Warteg Logo">
            <span class="navbar__logo__label">Warteg?</span>
          </a>
        </div>
        <button type="button" class="navbar__button navbar__button__open_menu" aria-label="Open Menu Button">
          <i class="fas fa-bars"></i>
        </button>
        <ul class="navbar__menu">
          <li class="navbar__menu__item"><a href="#/list">Home</a></li>
          <li class="navbar__menu__item"><a href="#/favorite">Favorite</a></li>
          <li class="navbar__menu__item"><a href="https://www.linkedin.com/in/gilang-aji-panutan-484371252/" target="_blank" rel="noreferrer">About Me</a></li>
          <button type="button" class="navbar__button navbar__button__close_menu" aria-label="Close Menu Button">
            <i class="fas fa-times"></i>
          </button>
        </ul>
      </div>
    </nav>
    <picture>
      <source media="(max-width: 600px)" srcset="./heros/hero-image_4-small.jpg">
      <img src="./heros/hero-image_4-large.jpg" class="hero" alt="Hero Image">
    </picture>
  </header>
  <main id="mainContent" tabindex="0">
  </main>
  <footer>
    <div class="container">
      <p class="footer__label">&copy; 2022 Warteg - Gilang Ap</p>
    </div>
  </footer>
</body>
</html>
